

.hero-section{
    min-height: 70vh;
    background: url('./assets/living-room-4013531_1920.jpg') rgba(0, 0, 0, 0.262);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
@media(max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}